<template>
  <div>
    <!-- Main Dialog -->
    <v-dialog v-model="choiceShow" width="500">
      <v-card>
        <v-list-item two-line>
          <v-list-item-content>
            <div class="overline mb-4">
              {{ this.choiceTitle }}
            </div>
            <v-list-item-subtitle>
              {{ this.choiceSubtitle }}
            </v-list-item-subtitle>

            <v-text-field
              v-model="choiceInput"
              :placeholder="this.choicePlaceholder"
            >
            </v-text-field>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="executeChoice">
            Save
          </v-btn>

          <v-btn color="primary" text @click="choiceShow = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Main dataset viewer -->
    <v-expansion-panels v-if="showPanel" multiple>
      <v-expansion-panel>
        <v-expansion-panel-header>General information</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-container>
            <v-row>
              <v-spacer />
              <v-btn
                class="ma-2 white--text"
                dark
                small
                color="orange darken-2"
                @click="copyShareLink"
              >
                Share link
                <v-icon dark>
                  mdi-share
                </v-icon>
              </v-btn>
            </v-row>
            <v-row>
              <v-simple-table>
                <template v-slot:default>
                  <tbody>
                    <tr>
                      <td class="text-left">Contact</td>
                      <td>
                        <a :href="dataset.contact._links.href">{{
                          dataset.contact.name
                        }}</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">Datatype</td>
                      <td>
                      <a :href="dataset.datatype.replace('geodatahub.dk', 'getgeodata.com').replace('.json', '.html')" target="_blank">{{ dataset.datatype }}</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">Created on</td>
                      <td>{{ createdAtStr }}</td>
                    </tr>
                    <tr>
                      <td class="text-left">Updated at</td>
                      <td>{{ updatedAtStr }}</td>
                    </tr>

                    <tr>
                      <td class="text-left">Description</td>
                      <td>{{ dataset.description }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-row>
          </v-container>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="dataset.Sharing">
        <v-expansion-panel-header>Sharing</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-btn text>
            Move dataset to org
          </v-btn>

          <v-switch
            v-model="dataset.Publicize"
            :label="`${publicState}`"
            @change="changePublicState"
          ></v-switch>

          <v-divider></v-divider>
          <v-btn
            icon
            :disabled="!isAllowed('share')"
            @click="showChoiceDialog('share')"
          >
            <v-icon>mdi-account-plus</v-icon>
          </v-btn>

          <div
            v-if="dataset.Sharing.length == 0"
            class="title font-weight-light"
            style="align-self: center;"
          >
            Dataset isn't shared with any users
          </div>
          <v-list v-else>
            <v-subheader>Shared with external users</v-subheader>
            <v-list-item v-for="(user, i) in dataset.Sharing" :key="i">
              <v-list-item-content>
                <v-list-item-title v-text="user.name"></v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-icon
                  small
                  right
                  :disable="!isAllowed('unshare')"
                  @click="unshare(user.name)"
                >
                  mdi-account-minus
                </v-icon>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>Metadata</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-data-table
            v-if="dataset.distribution_info"
            :headers="headers"
            :items="metadata"
            disable-filtering
            disable-pagination
            hide-default-footer
          >
            <template v-slot:item.actions="{ item }">
              <v-icon small right @click="addParameterToSearch(item)">
                mdi-filter-plus
              </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
          </v-data-table>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="dataset.result">
        <v-expansion-panel-header>Links to data</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-list two-line>
            <v-list-item v-for="(value, key) in dataset.result" :key="key">
              <v-list-item-content v-if="value.results">
                <v-list-item-title v-text="value.procedure"></v-list-item-title>
                <v-list-item-subtitle
                  >{{ value.medium }},
                  {{ value.extension }}</v-list-item-subtitle
                >
              </v-list-item-content>
              <v-list-item-content v-else-if="value.medium === 'reference'">
                <!--- This is an external link -->
                <v-list-item-title v-text="key"></v-list-item-title>
                <v-list-item-subtitle>External link</v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-content v-else>
                Dataset contains no results
              </v-list-item-content>

              <v-list-item-action>
                <v-row>
                  <v-col>
                    <v-icon>
                      mdi-information
                    </v-icon>
                  </v-col>
                  <v-col>
                    <v-badge
                      v-if="value.results"
                      :content="value.results.length"
                    >
                      <a :href="value.uri" target="_blank">
                        <v-icon>
                          mdi-download
                        </v-icon>
                      </a>
                    </v-badge>

                    <a v-else :href="value.uri" target="_blank">
                      <v-icon>
                        mdi-download
                      </v-icon>
                    </a>
                  </v-col>
                </v-row>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
import gdhClient from "../services/gdhClient";

export default {
  name: "Dataset",
  components: {},

  data() {
    return {
      headers: [
        { text: "Parameter name", value: "name" },
        { text: "Parameter value", value: "parameter" },
        { text: "Filter", value: "actions", sortable: false }
      ],
      timeOptions: {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric"
      },

      // All components for the choice box
      choicePlaceholder: "",
      choiceSubtitle: "",
      choiceTitle: "",
      choiceShow: false,
      choiceLink: {},
      choiceInput: ""
    };
  },

  mounted() {
    var datasetID = this.$route.params.id;
    if (datasetID) {
      gdhClient.getDataset(datasetID).then(data => {
        // Store both the selection (i.e. show the dataset panel) and
        // the search selection (i.e. the dataset on the map).
        this.$store.dispatch("storeSelection", data);
        this.$store.dispatch("storeSearch", data);

        // Move the current map view to focus on the dataset
        this.$root.$emit("updateViewBounds");
      });
    }
    this.$router.push({ name: "home" });
  },

  methods: {
    addParameterToSearch: function(parameter) {
      // The user has clicked a search filter in the dialog
      // add the filter to the search drawer
      this.$root.$emit("addDatasetParamToSearch", {
        fullSchemaPath: this.dataset.datatype,
        schemaName: parameter["name"],
        defaultOption: parameter["parameter"]
      });
    },
    changePublicState: function(event) {
      gdhClient.updatePublicState(this.dataset.identifier, event).then(resp => {
        // On success update the local variable
        if (resp) {
          this.dataset.Publicize = event;
        } else {
          // If response didn't succeed - toggle back
          this.dataset.Publicize = !event;
        }
      });
    },
    isAllowed: function(operation) {
      // Check if a given operation is part of the _links key
      return this.dataset._links.find(link => link.rel === operation);
    },
    copyShareLink: function() {
      let baseUrl = process.env.VUE_APP_AUTH_REDIRECT_URL;
      navigator.clipboard
        .writeText(baseUrl + "/dataset/" + this.dataset.identifier)
        .then(() => {
          this.$store.commit("SET_USER_MESSAGE", {
            msg: `Link copied to clipboard`,
            level: "success"
          });
        })
        .catch(() => {
          this.$store.commit("SET_USER_MESSAGE", {
            msg: `Failed to copy link`,
            level: "error"
          });
        });
    },
    unshare: function(userEmail) {
      // Remove a user from the list of shared users
      this.choiceLink = this.isAllowed("unshare");
      this.choiceInput = userEmail;
      this.executeChoice();
    },
    showChoiceDialog: function(dialogType) {
      // Display the choice box for the currect operation
      if (dialogType == "share") {
        this.choiceTitle = "Share with external user";
        this.choiceSubtitle = "Enter email of user outside your organization";
        this.choicePlaceholder = "user@external-organization.com";
        this.choiceLink = this.isAllowed(dialogType);
      }
      this.choiceShow = true;
    },
    refreshDataset: function() {
      gdhClient.getDataset(this.dataset.identifier).then(data => {
        this.$store.dispatch("storeSelection", data);
      });
    },
    executeChoice: function() {
      // Execute the users choice from dialog
      var href = this.choiceLink.href;
      if (
        this.choiceLink.rel === "share" ||
        this.choiceLink.rel === "unshare"
      ) {
        href += "?user=" + this.choiceInput;
      } else {
        this.$store.commit("SET_USER_MESSAGE", {
          msg: `Unknown method!`,
          level: "error"
        });
        return undefined;
      }

      gdhClient.genericCall(href, this.choiceLink.method).then(resp => {
        if (resp != null) {
          // All error handling happens in call
          this.$store.commit("SET_USER_MESSAGE", {
            msg: resp["success"],
            level: "success"
          });
        }
        this.refreshDataset();
      });

      this.choiceShow = false;
      this.choiceTitle = "";
      this.choiceSubtitle = "";
      this.choicePlaceholder = "";
      this.choiceLink = undefined;
      this.refreshDataset();
    }
  },

  computed: {
    dataset() {
      if (this.$store.getters.searchSelection) {
        return this.$store.getters.searchSelection;
      } else {
        return {};
      }
    },
    createdAtStr() {
      return new Date(this.dataset.created_at).toLocaleString(
        "en-US",
        this.timeOptions
      );
    },
    updatedAtStr() {
      return new Date(this.dataset.updated_at).toLocaleString(
        "en-US",
        this.timeOptions
      );
    },
    metadata() {
      if (this.$store.getters.searchSelection) {
        return Object.entries(
          this.$store.getters.searchSelection.distribution_info
        ).map((key, value) => {
          return {
            name: key[0],
            parameter: key[1] !== undefined ? key[1] : ""
          };
        });
      } else {
        return [];
      }
    },
    showPanel() {
      if (this.$store.getters.searchSelection) {
        return true;
      } else {
        return false;
      }
    },
    publicState() {
      if (this.dataset.Publicize) {
        return "Dataset is public";
      } else {
        return "Dataset is private";
      }
    }
  }
};
</script>

<style></style>
