<template>
  <v-col class="d-flex-grow md-0 pa-0" style="width:100%; height: 100%;">
    <v-fab-transition>
      <v-speed-dial absolute bottom right open-on-hover>
        <template v-slot:activator>
          <v-btn
            class="pa-10 mt-2 ma-md-10 ma-sm-14 ma-xs-2"
            color="#e65d4d"
            v-on:click="showSearch"
            value="showSearchButton"
            id="mainSearchButton"
            fab
          >
            <v-icon class="white--text" large>mdi-magnify</v-icon>
          </v-btn>
        </template>
        <v-btn
          fab
          dark
          medium
          color="#e47a3e"
          v-on:click="$emit('updateEditMode', 'DrawPolygonMode')"
        >
          <v-icon>mdi-selection-search</v-icon>
        </v-btn>
      </v-speed-dial>
    </v-fab-transition>

    <canvas id="deck-canvas" ref="canvas"> </canvas>

    <v-snackbar v-model="viewDatasetBounds" timeout="5000" light>
      Data found outside current view area
      <template v-slot:action="{ attrs }">
        <v-btn
          class="white--text"
          color="#e65d4d"
          v-bind="attrs"
          @click="updateViewToDatasetBounds()"
        >
          Zoom to dataset
        </v-btn>
      </template>
    </v-snackbar>
  </v-col>
</template>

<script>
import gdhClient from "../services/gdhClient";
import store from "@/store/store";

import { Deck, MapView, FlyToInterpolator } from "@deck.gl/core";
import { BitmapLayer, GeoJsonLayer } from "@deck.gl/layers";
import { TileLayer } from "@deck.gl/geo-layers";
import { HexagonLayer } from "@deck.gl/aggregation-layers";

import { EditableGeoJsonLayer } from "@nebula.gl/layers";
import { ViewMode, DrawPolygonMode } from "@nebula.gl/edit-modes";

export default {
  name: "DeckMap",
  components: {},

  data() {
    return {
      showSearchButton: true,
      deck: null,
      datasetColors: [
        [228, 26, 28, 255],
        [55, 126, 184, 255],
        [77, 175, 74, 255],
        [152, 78, 163, 255],
        [255, 127, 0, 255],
        [255, 255, 51, 255],
        [166, 86, 40, 255],
        [247, 129, 191, 255]
      ],
      values: [],
      geojson: [],
      searchGeometryLocal: {
        type: "FeatureCollection",
        features: []
      },
      mode: DrawPolygonMode,
      viewDatasetBounds: false,
      maxZoom: 15
    };
  },

  props: {
    editMode: {
      type: String,
      default: "ViewMode"
    },
    searchGeometry: {
      type: Object
    },
    showSearchDrawer: {
      type: Boolean
    }
  },

  methods: {
    initializeMap: function() {
      const INITIAL_VIEW_STATE = {
        latitude: 40,
        longitude: -100,
        zoom: 3,
        maxZoom: this.maxZoom,
        bearing: 0,
        pitch: 0
      };

      this.deckMapView = new MapView({
        controller: true,
        repeat: true
      });

      this.deck = new Deck({
        initialViewState: INITIAL_VIEW_STATE,
        views: [this.deckMapView],
        layerFilter: ({ layer, viewport }) => {
          // Hide any layers that are also hidden in the map store.
          let layerId = layer.id;
          if (layer.parent !== null) {
            layerId = layer.parent.id;
          }
          if (!this.$store.getters.layers.hasOwnProperty(layerId)) {
            return true;
          }
          return this.$store.getters.layers[layerId].visible;
        },
        controller: {
          doubleClickZoom: false // This is deactivated since drawing a ploygon is stopped by a doubble click
        },
        canvas: this.$refs.canvas,
        pickable: false,
        width: "100%",
        height: "100%",
        useDevicePixels: false,
        onClick: () => {
          this.$store.dispatch("storeSelection", null);
        },
        getCursor: () => this.cursorStyle,
        layers: this.getLayers
      });
    },
    updateViewToDatasetBounds: function() {
      // Move current map view to contain all data in the current view
      const bounds = this.$store.getters.datasetBounds;
      if (bounds) {
        const realViewport = this.deck.getViewports()[0];
        const { longitude, latitude, zoom } = realViewport.fitBounds(bounds);

        const finalZoom = Math.min(zoom, 6); // Don't zoom below this level
        this.deck.setProps({
          initialViewState: {
            longitude: longitude,
            latitude: latitude,
            zoom: finalZoom,
            maxZoom: this.maxZoom,
            transitionDuration: 4000,
            transitionInterpolator: new FlyToInterpolator()
          }
        });
        this.viewDatasetBounds = false;
      }
    },
    showSearch: function() {
      this.$emit("toggleSearchDrawer");
    },
    resetSearchGeometry: function() {
      this.searchGeometryLocal = {
        type: "FeatureCollection",
        features: []
      };
    },
    getUsersDataHeatmap: function() {
      const heatmap = gdhClient
        .getUsersDataHeatmap()
        .then(data => {
          return data;
        })
        .catch(error => {
          store.dispatch("notifyUser", {
            msg: `Failed to get data distribution map with error {error}`,
            level: "error"
          });

          return [];
        });

      return heatmap;
    },
    getFeatureColor: function(datatype) {
      // Covert the datatype into a unique color based on the index in the current datatypes array
      const datatypes = this.layerDatatypes;
      return this.datasetColors[datatypes.indexOf(datatype)];
    }
  },

  computed: {
    layerDatatypes() {
      // Get a list of unique data types in the current query results
      const uniqueLayers = [
        ...new Set(
          this.$store.getters.datasetToGeoJSON.features.flatMap(
            data => data.properties.datatype
          )
        )
      ].sort();
      return uniqueLayers;
    },
    datasetToGeoJSON() {
      return this.$store.getters.datasetToGeoJSON;
    },
    datasetBounds() {
      return this.$store.getters.datasetBounds;
    },
    getEditMode() {
      if (this.editMode == "DrawPolygonMode") {
        return DrawPolygonMode;
      } else {
        return ViewMode;
      }
    },
    cursorStyle() {
      if (true) {
        return "arrow";
      } else {
        return "grab";
      }
    },
    getLayers() {
      const layers = [
        new TileLayer({
          // https://wiki.openstreetmap.org/wiki/Slippy_map_tilenames#Tile_servers
          //data: 'https://c.tile.openstreetmap.org/{z}/{x}/{y}.png',
          id: "background map",
          data: process.env.VUE_APP_MAPTILER_URL,
          tileSize: 256,

          renderSubLayers: props => {
            const {
              bbox: { west, south, east, north }
            } = props.tile;

            return new BitmapLayer(props, {
              data: null,
              image: props.data,
              bounds: [west, south, east, north]
            });
          }
        })
      ];

      layers.push(
        new EditableGeoJsonLayer({
          id: "geojson-search",
          data: this.searchGeometryLocal,
          mode: this.getEditMode,
          selectedFeatureIndexes: [],

          // Styles
          filled: true,
          pointRadiusMinPixels: 2,
          pointRadiusScale: 2000,
          extruded: true,
          getElevation: 1000,
          getFillColor: [200, 0, 80, 180],

          // Interactive props
          pickable: true,
          autoHighlight: true,

          onEdit: ({ updatedData, editType, featureIndexes, editContext }) => {
            this.searchGeometryLocal = updatedData;
            if (editType == "addFeature") {
              // Switch from edit mode once a new feature is added
              this.$emit("updateEditMode", "ViewMode");

              // Send geometry to parent
              this.$emit("update:searchGeometry", this.searchGeometryLocal);
            }
          }
        })
      );

      layers.push(
        new HexagonLayer({
          id: "data-density-map",
          data: this.getUsersDataHeatmap(),
          getPosition: d => d.coordinates,
          getWeight: d => d.weight,
          getColorWeight: d => d.weight,
          radius: 20000,
          opacity: 0.4
        })
      );

      layers.push(
        new GeoJsonLayer({
          id: "datasets",
          data: this.datasetToGeoJSON,
          stroked: true,
          filled: true,
          pickable: true,
          lineWidthMinPixels: 1.2,
          pointRadiusScale: 1,
          pointRadiusMinPixels: 3,
          pointRadiusMaxPixels: 35,
          getRadius: 1.2,
          opacity: 1.0,
          getLineColor: d => this.getFeatureColor(d.properties.datatype),
          getFillColor: d => this.getFeatureColor(d.properties.datatype), //[200, 160, 0, 180],
          autoHighlight: true,
          onClick: (info, event) => {
            gdhClient
              .getDataset(info.object.properties.identifier)
              .then(data => {
                this.$store.dispatch("storeSelection", data);
              });
          }
        })
      );

      return layers;
    }
  },

  watch: {
    datasetToGeoJSON() {
      if (this.$store.getters.queryResults) {
        const layers = this.getLayers;

        // Hide heatmap everytime the data map changes
        this.$store.getters.layers["data-density-map"].visible = false;

        this.deck.setProps({
          layers: layers,
          height: "100%",
          width: "100%"
        });

        // Move view to the boundary of the current search area
        const bounds = this.$store.getters.datasetBounds;
        if (this.datasetBounds) {
          const realViewport = this.deck.getViewports()[0];
          const currentBounds = realViewport.getBounds();

          if (
            bounds[0][0] < currentBounds[0] ||
            bounds[0][1] < currentBounds[1] ||
            bounds[1][0] > currentBounds[2] ||
            bounds[1][1] > currentBounds[3]
          ) {
            this.viewDatasetBounds = true;
          }
        }
      }
    },
    getEditMode() {
      const mode = this.getEditMode;
      const layers = this.getLayers;

      if (mode != "ViewMode") {
        // Reset the current selection geometry if switching
        // away from ViewMode
        this.resetSearchGeometry();
      }
      this.deck.setProps({
        layers: layers,
        height: "100%",
        width: "100%"
      });
    }
  },

  created() {
    this.$root.$on("eventInitializeMap", () => {
      this.initializeMap();
    });

    this.$root.$on("updateViewBounds", () => {
      this.updateViewToDatasetBounds();
    });
  }
};
</script>

<style>
#deck-canvas {
  z-index: 0;
}
</style>
