<template>
  <v-menu offset-y :close-on-content-click="false" class="ma-4">
    <template v-slot:activator="{ on, attrs }">
      <v-icon large v-on="on" v-bind="attrs">
        mdi-layers
      </v-icon>
    </template>

    <v-list flat subheader two-line>
      <v-subheader>Layer settings</v-subheader>

      <v-list-item-group multiple active-class="">
        <v-list-item v-for="(value, key) in layers" :key="key">
          <template v-slot:default="{ active }">
            <v-list-item-action>
              <v-icon :color="iconColor(key)" @click="updateLayer(active, key)">
                mdi-eye
              </v-icon>
            </v-list-item-action>

            <v-list-item-content>
              <v-list-item-title>{{ key }}</v-list-item-title>
              <v-list-item-subtitle>{{
                value.description
              }}</v-list-item-subtitle>
            </v-list-item-content>
          </template>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-menu>
</template>

<script>
import store from "@/store/store";

export default {
  name: "layermenu",
  data() {
    return {
      layers: store.getters.layers
    };
  },

  methods: {
    // Change the visibility of a map layer
    updateLayer(newState, layer) {
      store.commit("SET_LAYER_VISIBILITY", { layer: layer, visible: newState });
    },
    iconColor: function(layerName) {
      if (this.$store.getters.layers[layerName].visible) {
        return "orange darken-2";
      } else {
        return "grey darken-2";
      }
    }
  }
};
</script>
