<template>
  <div>
    <UserMenu v-if="!logInRequired" />

    <v-btn v-if="logInRequired" class="ma-2" outlined>
      <a class="v-btn" :href="loginUrl">Login/Signup</a>
    </v-btn>

    <v-dialog v-model="showWelcomeDialog" persistent max-width="580">
      <v-card>
        <v-img
          src="https://nextgengeophysics.com/images/dk-data.png"
          height="194"
        ></v-img>
        <v-card-title>Welcome to the GeoDataHub experiment</v-card-title>
        <v-card-subtitle
          ><br />Through GeoDataHub you can discover geoscientific data from multiple public sources. All copyright belongs to the original owner of the data. Please follow the "Link to data" on individual datasets for relevant copyright information.<br /><br />
          GeoDataHub is a public experiment to build a modern geoscientific data catalog. The current version is no longer maintained. The source code is available on <a href="https://gitlab.com/GeoDataHub">Gitlab</a>. <br/>Stay tuned for the next experiment. <br /><br />

          <v-alert type="error" elevation="2" colored-border border="left" v-if="this.$vuetify.breakpoint.xsOnly" class="text-caption ">
            This site is not optimized for small screens yet! If it doesn't work please try a larger screen.
          </v-alert>
        </v-card-subtitle>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text id="getStarted" @click="showDialog = false">
            Lets get started
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import UserMenu from "./UserMenu";

export default {
  name: "login",
  components: {
    UserMenu
  },
  data() {
    return {
      app_id: this.$store.state.auth.app_id,
      base_auth_url: this.$store.state.auth.base_auth_url,
      redirect_url: this.$store.state.auth.redirect_url,
      showDialog: true
    };
  },

  computed: {
    loginUrl: function() {
      return (
        this.base_auth_url +
        "/login?response_type=code&client_id=" +
        this.app_id +
        "&redirect_uri=" +
        this.redirect_url
      );
    },
    logInRequired: function() {
      return !this.$store.state.auth.loggedIn;
    },
    showWelcomeDialog: function() {
      // Show dialog if it hasn't been dismissed already and the user is not
      // loggedin
      return this.showDialog && this.logInRequired
    }
  },

  mounted() {
    var code = this.$route.query.code;
    if (code) {
      // The user was redirected from the AWS login process
      this.$store
        .dispatch("login", code)
        .then(() => {
          this.$root.$emit("eventInitializeMap");
          this.$router.push({ name: "home" });
        })
        .catch(error => {
          this.$store.commit("SET_USER_MESSAGE", {
            msg: `The one-time login code was invalid. Please contact support@geodatahub.dk with message: ${error}`,
            level: "error"
          });
        });
    }

    if (!this.logInRequired) {
      this.$store.commit("SET_USER_MESSAGE", {
        msg: "Login successful",
        level: "success"
      });
    }
    // Activate map
    this.$root.$emit("eventInitializeMap");

    // Redirect if already logged in
    this.$router.push({ name: "home" });
  }
};
</script>
