<template>
  <v-dialog v-model="showDialog">
    <v-card>
      <v-card-title class="indigo white--text headline">
        My organizations
      </v-card-title>
      <v-row class="mx-auto" justify="space-between">
        <v-col cols="5">
          <v-treeview
            :active.sync="active"
            :items="items"
            item-key="ID"
            item-text="Name"
            :load-children="fetchOrganizations"
            :open.sync="open"
            activatable
            color="warning"
            open-on-click
            transition
          >
            <template v-slot:prepend="{ item }">
              <v-icon v-if="!item.children">
                mdi-account-group
              </v-icon>
            </template>
          </v-treeview>
        </v-col>

        <v-divider vertical></v-divider>

        <v-col class="d-flex text-center">
          <v-scroll-y-transition mode="out-in">
            <div
              v-if="!selected"
              class="title grey--text text--lighten-1 font-weight-light"
              style="align-self: center;"
            >
              Select an organization
            </div>
            <v-card
              v-else
              :key="selected.id"
              class="pt-6 mx-auto"
              flat
              max-width="400"
            >
              <v-card-text>
                <h3 class="headline mb-2">
                  {{ selected.Name }}
                </h3>
                <div class="blue--text mb-2">ID: {{ selected.ID }}</div>
              </v-card-text>
              <v-divider></v-divider>
              <v-row class="text-left" tag="v-card-text">
                <v-col class="text-right mr-4 mb-2" tag="strong" cols="5">
                  Company:
                </v-col>
                <v-col> </v-col>
                <v-col class="text-right mr-4 mb-2" tag="strong" cols="5">
                  Website:
                </v-col>
                <v-col>
                  <a :href="`//${selected.website}`" target="_blank"> </a>
                </v-col>
              </v-row>
            </v-card>
          </v-scroll-y-transition>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import gdhClient from "../services/gdhClient";

export default {
  data() {
    return {
      active: [],
      avatar: null,
      open: [],
      users: [],
      showDialog: false
    };
  },
  computed: {
    items() {
      return [
        {
          Name: "Organizations",
          children: this.users
        }
      ];
    },
    selected() {
      if (!this.active.length) return undefined;

      const id = this.active[0];

      return this.users.find(user => user.ID === id);
    }
  },
  methods: {
    async fetchOrganizations(item) {
      return gdhClient
        .getUserOrganizations()
        .then(res => item.children.push(...res))
        .catch(err => {
          this.$store.commit("SET_USER_MESSAGE", {
            msg: `Failed to get organizations. Please, contact support with message ${err}`,
            level: "error"
          });
        });
    },
    show() {
      this.showDialog = true;
    }
  }
};
</script>
