<template>
  <div>
    <v-menu v-if="user" offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-icon large v-on="on" v-bind="attrs">
          mdi-account
        </v-icon>
      </template>

      <v-card class="pt-6 mx-auto" flat max-width="400">
        <v-card-text>
          <h3 class="headline mb-2"></h3>
          <div class="blue--text mb-2">
            {{ user.Email }}
          </div>
        </v-card-text>
        <v-divider></v-divider>
        <v-row class="mx-auto" tag="v-card-text">
          <v-btn class="mx-auto" @click="showOrgs" text>
            Your organizations
          </v-btn>
        </v-row>
        <v-row tag="v-card-text">
          <v-btn class="mx-auto" @click="showOrganizations = true" text>
            Your datasets
          </v-btn>
        </v-row>
        <v-row tag="v-card-text">
          <v-btn class="mx-auto" @click="logout" text>
            Logout
          </v-btn>
        </v-row>
      </v-card>
    </v-menu>
    <MyOrgs ref="myorgs" />
  </div>
</template>

<script>
import gdhClient from "../services/gdhClient";
import MyOrgs from "./MyOrganizations";
import store from "@/store/store";

export default {
  components: {
    MyOrgs
  },
  data() {
    return {
      user: null,
      userMenuItems: [
        { text: "Me", icon: "mdi-account" },
        { text: "Organizations", icon: "mdi-account-group" }
      ]
    };
  },

  methods: {
    showOrgs() {
      this.$refs.myorgs.show();
    },
    logout() {
      // The user asked to logout
      store.dispatch("logoutUser");
    }
  },

  mounted() {
    // Get user information
    gdhClient.getUser().then(data => {
      this.user = data;
    });
  }
};
</script>
