<template>
  <div>
    <v-dialog v-model="dialog" width="500">
      <v-card v-if="schemaParameterProperties !== undefined">
        <v-list-item two-line>
          <v-list-item-content>
            <div class="overline mb-4">
              {{ schemaParameterProperties.subtitle }}
            </div>
            <v-list-item-title class="headline mb-1">
              {{ schemaParameterProperties.name }}
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ schemaParameterProperties.description }}
            </v-list-item-subtitle>
            <v-autocomplete
              v-if="schemaParameterProperties.type == 'string'"
              v-model="schemaParameterProperties.options_selected"
              :items="schemaParameterProperties.options"
              label="Select search options from list"
              outlined
            ></v-autocomplete>
            <v-alert v-else class="mt-4" dense outlined type="error">
              This parameters doesn't support drilldown search yet.
            </v-alert>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            v-if="schemaParameterProperties.type == 'string'"
            color="primary"
            text
            @click="addParameterSearchValue(false)"
          >
            Include filter
          </v-btn>

          <v-btn
            v-if="schemaParameterProperties.type == 'string'"
            color="primary"
            text
            @click="addParameterSearchValue(true)"
          >
            Search now
          </v-btn>

          <v-btn
            v-if="schemaParameterProperties.type !== 'string'"
            color="primary"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-bottom-sheet
      v-model="showDrawer"
      hide-overlay
      persistent
      no-click-animation
      :fullscreen="$vuetify.breakpoint.mobile"
    >
      <v-card>
        <v-toolbar flat>
          <v-toolbar-title>Search</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-row align="center" justify="end">
            <v-switch
              class="ma-2"
              v-model="includePublic"
              inset
              label="Include public data"
            >
            </v-switch>
            <v-btn
              class="ma-1 white--text"
              @click="searchDatasets()"
              color="#e65d4d"
            >
              Search
            </v-btn>
            <v-btn
              class="ma-1 white--text"
              @click="clearSearch()"
              color="#e47a3e"
            >
              Clear All
            </v-btn>
            <v-btn
              class="ma-1 white--text"
              @click="closeDrawer()"
              color="#4781b1"
            >
              Close
            </v-btn>
          </v-row>
        </v-toolbar>
        <v-tabs icons-and-text vertical>
          <v-tab>
            <v-icon :color="iconColor('geom')">mdi-selection-search</v-icon>
            <div class="d-none d-sm-block">Search by geometry</div>
          </v-tab>
          <v-tab>
            <v-icon :color="iconColor('datatype')">mdi-database-search</v-icon>
            <div class="d-none d-sm-block">Search by datatype</div>
          </v-tab>
          <v-tab>
            <v-icon :color="iconColor('org')">mdi-briefcase-search</v-icon>
            <div class="d-none d-sm-block">Search by organization</div>
          </v-tab>
          <v-tab>
            <v-icon :color="iconColor('schema')">mdi-table-search</v-icon>
            <div class="d-none d-sm-block">Search by schema</div>
          </v-tab>

          <v-tab-item>
            <v-card flat>
              <v-card-subtitle
                >Search for datasets within a specified area. Choose the
                required shape below,</v-card-subtitle
              >
              <v-card-actions>
                <v-btn
                  class="mx-auto"
                  v-on:click="$emit('updateEditMode', 'DrawPolygonMode')"
                  >Draw search ploygon</v-btn
                >
              </v-card-actions>
              <v-card-actions>
                <v-btn
                  class="mx-auto"
                  v-on:click="
                    $emit('update:searchGeometry', {
                      type: 'FeatureCollection',
                      features: []
                    })
                  "
                  >Clear ploygon</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-subtitle
                >Search for datasets based on the datatype,</v-card-subtitle
              >
              <v-card-text class="mx-auto">
                <v-autocomplete
                  v-model="selected_datatypes"
                  :items="all_datatypes"
                  chips
                  small-chips
                  label="Search"
                  multiple
                ></v-autocomplete>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-subtitle
                >Search for datasets based on the organization that owns
                it,</v-card-subtitle
              >
              <v-card-text>
                <v-spacer></v-spacer>
                <v-autocomplete
                  v-model="selected_organizations"
                  :items="all_organizations"
                  chips
                  small-chips
                  label="Search"
                  multiple
                ></v-autocomplete>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-subtitle
                >Search by a specific key/value pair
              </v-card-subtitle>
              <v-card-text>
                <v-spacer></v-spacer>
                <v-autocomplete
                  :items="schemaNames"
                  item-name="name"
                  item-text="name"
                  return-object
                  label="Search"
                  @change="addSchemaSearchOption"
                >
                  <template v-slot:item="data">
                    <template v-if="typeof data.item !== 'object'">
                      <v-list-item-content
                        v-text="data.item"
                      ></v-list-item-content>
                    </template>
                    <template v-else>
                      <v-list-item-content>
                        <v-list-item-title
                          v-html="data.item.name"
                        ></v-list-item-title>
                        <v-list-item-subtitle
                          v-html="data.item.subtitle"
                        ></v-list-item-subtitle>
                        <v-list-item-content
                          v-html="data.item.description"
                        ></v-list-item-content>
                      </v-list-item-content>
                    </template>
                  </template>
                </v-autocomplete>

                <v-col
                  v-for="(schemaValue,
                  fullSchemaPath,
                  index) in selected_schema_search"
                  :key="index"
                  cols="4"
                >
                  <v-card>
                    <v-card-title>
                      {{ getReadableSchemaNameFromPath(fullSchemaPath) }}
                    </v-card-title>
                    <v-card-subtitle>
                      {{ fullSchemaPath }}
                    </v-card-subtitle>

                    <v-card-subtitle>Filters</v-card-subtitle>
                    <v-card-text>
                      <v-chip
                        v-for="(param, idx) in schemaValue"
                        :key="idx"
                        close
                        @click:close="deleteItem(idx, fullSchemaPath)"
                        >{{ param.name }} = {{ param.options_selected }}
                      </v-chip>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
      <v-card>
        Active filters:
        <v-chip-group column>
          <v-chip
            v-if="searchGeometry.features.length > 0"
            class="white--text"
            label
            close
            color="#4781b1"
            @click:close="
              $emit('update:searchGeometry', {
                type: 'FeatureCollection',
                features: []
              })
            "
            >Datasets intersect ploygon
          </v-chip>

          <v-chip
            v-for="(orgName, idx) in selected_organizations"
            class="white--text"
            :key="idx"
            label
            color="#4781b1"
            >schema belongs to {{ orgName }}
          </v-chip>

          <v-chip
            v-for="(datatype, idx) in selected_datatypes"
            class="white--text"
            :key="idx"
            label
            color="#4781b1"
            >datatype is {{ datatype }}
          </v-chip>

          <v-div
            v-for="(schemaValue,
            fullSchemaPath,
            index) in selected_schema_search"
            :key="index"
          >
            <v-tooltip v-for="(param, idx) in schemaValue" :key="idx" top>
              <template v-slot:activator="{ on, attrs }">
                <v-chip
                  class="white--text"
                  color="#4781b1"
                  close
                  label
                  @click:close="deleteItem(idx, fullSchemaPath)"
                  v-bind="attrs"
                  v-on="on"
                  >{{ param.name }} = {{ param.options_selected }}
                </v-chip>
              </template>
              <span>Only applies to schema {{ fullSchemaPath }}</span>
            </v-tooltip>
          </v-div>
        </v-chip-group>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>

<script>
import Vue from "vue";
import gdhClient from "@/services/gdhClient";
import schemaClient from "@/services/schemaService";

export default {
  name: "SearchDrawer",
  data: () => ({
    all_organizations: [],
    selected_organizations: [],
    organization_mapping: {},
    all_datatypes: [],
    selected_datatypes: [],
    datatype_mapping: {}, // Keys are datatypes and values are all the schemas with that type
    selected_schema_search: {}, // The schema search key/value pairs the user has selected
    schemaParameterProperties: undefined,
    dataQuery:
      '{"https://schemas.geodatahub.dk/organizations/usgs/geophysics/geolog.json":""}',
    value: null,
    expandable: true,
    dialog: false,
    schemas: {},
    includePublic: true
  }),

  props: {
    searchGeometry: {
      type: Object
    },
    showSearchDrawer: {
      type: Boolean
    }
  },

  methods: {
    closeDrawer: function() {
      // Close the search drawer if it is open
      if (this.showSearchDrawer) {
        this.$emit("toggleSearchDrawer");
      }
    },
    // WKT translation functions
    // Copied from here: https://github.com/visgl/loaders.gl/blob/140fd020ebe9517ebe62f0063ff81fb767c2b636/modules/wkt/src/lib/encode-wkt.js
    pairWKT: function(c) {
      return c.join(" ");
    },
    ringWKT: function(r) {
      return r.map(this.pairWKT).join(", ");
    },
    ringsWKT: function(r) {
      return r
        .map(this.ringWKT)
        .map(this.wrapParens)
        .join(", ");
    },
    multiRingsWKT: function(r) {
      return r
        .map(this.ringsWKT)
        .map(this.wrapParens)
        .join(", ");
    },
    wrapParens: function(s) {
      return "(" + s + ")";
    },
    clearSearch: function() {
      this.selected_datatypes = [];
      this.selected_schema_search = {};
      this.selected_organizations = [];
      this.$emit("update:searchGeometry", {
        type: "FeatureCollection",
        features: []
      });

      // Clear any datasets on the map
      this.$store.dispatch("storeSearch", {
        geojson: { features: [], type: "FeatureCollection" }
      });
    },
    searchDatasets: function() {
      // Search for dataset given a user query
      var query = {};

      // Search by geometry as a polygon
      if (this.searchGeometry.features.length > 0) {
        const geom = this.ringsWKT(
          this.searchGeometry.features[0].geometry.coordinates
        );
        query["geometry"] = { $contains: "POLYGON( " + geom + ")" };
      }

      // Add any datatypes requested by the user
      let datatype_schemas = this.selected_datatypes.flatMap(
        dtype => this.datatype_mapping[dtype]
      );
      datatype_schemas.forEach(function(schemaPath, index) {
        query[schemaPath] = {};
      });
      // Add any datatypes requested by the user
      let organization_schemas = this.selected_organizations.flatMap(
        org => this.organization_mapping[org.toLowerCase()]
      );
      organization_schemas.forEach(function(schemaPath, index) {
        query[schemaPath] = {};
      });

      if (
        (this.selected_datatypes.length > 0) &
        (this.selected_organizations.length > 0)
      ) {
        // User is searching for both datatype and organization - Find the intersection of schemas from both search types
        var combined_schemas = organization_schemas.filter(x =>
          datatype_schemas.includes(x)
        );

        if (combined_schemas.length < 1) {
          this.$store.commit("SET_USER_MESSAGE", {
            msg: `The selected organizations does not contain any of the requested datatypes`,
            level: "error"
          });
          return null;
        }

        // Overwrite the existing query with only the intersection computed above
        var newQuery = {};
        if (query.hasOwnProperty("geometry")) {
          newQuery["geometry"] = query["geometry"];
        }
        combined_schemas.forEach(function(schemaPath, index) {
          newQuery[schemaPath] = {};
        });
        // Overwrite the previous query with the combined
        query = newQuery;
      }

      // Handle any custom schema parameter search settings
      Object.keys(this.selected_schema_search).forEach(fullPath => {
        if (!query.hasOwnProperty(fullPath)) {
          query[fullPath] = {};
        }

        this.selected_schema_search[fullPath].forEach(schemaObj => {
          // Add the selected option to the query. This logic adds value in the example below
          // {schema: {$eq: {param: value}}
          query[fullPath][schemaObj.name] = schemaObj.options_selected;
        });
      });

      if (Object.keys(query).length < 1) {
        this.$store.commit("SET_USER_MESSAGE", {
          msg: `Cannot search without any filters.`,
          level: "error"
        });
        return null;
      }

      gdhClient.searchDatasets(query, this.includePublic).then(data => {
        this.$store.dispatch("storeSearch", data);
      });

      // Close the search drawer again
      this.closeDrawer();
    },
    iconColor: function(tabName) {
      // Change color of the icons if the search parameter is active
      if (
        ((tabName == "geom") & (this.searchGeometry.features.length > 0)) |
        ((tabName == "datatype") & (this.selected_datatypes.length > 0)) |
        ((tabName == "org") & (this.selected_organizations.length > 0)) |
        ((tabName == "schema") & (this.selected_schema_search.length > 0))
      ) {
        return "orange darken-2";
      } else {
        return "grey darken-2";
      }
    },
    getOrganizationFromSchemaPath: function(schemaPath) {
      return schemaPath.split("/")[1];
    },
    getFullpathFromSchemaName: function(schemaName) {
      // Given the main path of a schema name (/organization/geus/geophysics/wenner)
      // this function returns the full valid URI to the schema.
      return "https://schemas.geodatahub.dk/" + schemaName + ".json";
    },
    getRelativeSchemaPathFromFull: function(fullPath) {
      // Find the relative path organizations/<org>/type from a full path
      // https://...dk/org/../schema.json
      return fullPath.split(".")[2].substr(3);
    },
    getReadableSchemaNameFromPath: function(fullPath) {
      const relPath = this.getRelativeSchemaPathFromFull(fullPath);
      if (this.schemas[relPath] !== undefined) {
        const datatypes = this.schemas[relPath].datatype;
        const org = this.getOrganizationFromSchemaPath(relPath).toUpperCase();
        const datatypesStr = Object.is(datatypes, undefined)
          ? ""
          : datatypes.join(", ");
        return `${org} - ${datatypesStr}`;
      } else {
        return "Unknown";
      }
    },
    addSchemaSearchOptionByName: function(schemaObj) {
      // This function is called when the user clicks the filter option in the Dataset component
      // The schemaObj must contain the keys fullschemaPath, schemaName, defaultOptions

      var schemaKeyName = this.getRelativeSchemaPathFromFull(
        schemaObj.fullSchemaPath
      );
      var schemaParameter = this.schemas[schemaKeyName]["properties"][
        schemaObj.schemaName
      ];

      var org = this.getOrganizationFromSchemaPath(schemaKeyName);
      var obj = {
        name: schemaObj.schemaName,
        description: schemaParameter.description,
        type: schemaParameter.type,
        //datatypes: datatypes,
        //subtitle: `${org} - ${datatypesStr}`,
        defaultOptions: schemaObj.defaultOption,
        rawSchemaPath: schemaKeyName,
        fullSchemaPath: schemaObj.fullSchemaPath
      };
      this.addSchemaSearchOption(obj);
    },
    addSchemaSearchOption: function(selectedSchema) {
      // When the user selects a search parameter directly in the schema add it to the search
      // drawer and add autocomplete options to it
      if (selectedSchema.fullSchemaPath === undefined) {
        selectedSchema.fullSchemaPath = this.getFullpathFromSchemaName(
          selectedSchema.rawSchemaPath
        );
      }
      let autocompleteOptions = gdhClient
        .getSchemaAutocompleteOptions(
          selectedSchema.fullSchemaPath,
          selectedSchema.name
        )
        .then(data => {
          selectedSchema["options"] = data;
          selectedSchema["options_selected"] = [];
          this.schemaParameterProperties = selectedSchema;
          // Stop the loader once the object is ready
          this.$store.commit("SET_API_COMM_STATE", false);
          this.dialog = true;
        });
    },
    addParameterSearchValue: function(searchNow) {
      const currentSchema = this.schemaParameterProperties.fullSchemaPath;
      if (!this.selected_schema_search.hasOwnProperty(currentSchema)) {
        this.selected_schema_search[currentSchema] = [];
      }

      this.selected_schema_search[currentSchema].push(
        this.schemaParameterProperties
      );
      this.schemaParameterProperties = undefined;
      this.dialog = false;
      if (searchNow) {
        this.searchDatasets();
      }
    },
    deleteItem: function(itemIdx, schemaPath) {
      // Remove the index from the list
      Vue.delete(this.selected_schema_search[schemaPath], itemIdx);

      if (this.selected_schema_search[schemaPath].length < 1) {
        // If there are no more schema search parameters left remove the rest of the key
        // so the object isn't {schema: {}}
        Vue.delete(this.selected_schema_search, schemaPath);
      }

      // This is a bit hacky but toggling the dialog variable will force a redraw
      // of the search drawer. Otherwise, deleted items will still appear in the dialog.
      this.dialog = true;
      this.dialog = false;
    }
  },
  computed: {
    schemaNames: function() {
      // This function processes the raw JSON from the schema and returns a formatted
      // array ready for the autocomplete component
      // The formatting contains the all parameters relevant for creating the search form.
      var autocompleteOptions = [];
      for (const schema in this.schemas) {
        var org = this.getOrganizationFromSchemaPath(schema);
        org = Object.is(org, undefined) ? "UNKNOWN" : org.toUpperCase();
        autocompleteOptions.push({ header: `${schema}` });

        // Find the right location of properties. This supports nested schemas
        const properties = [];
        if (this.schemas[schema].hasOwnProperty("properties")) {
          properties = this.schemas[schema].properties;
        } else if (this.schemas[schema].hasOwnProperty("allOf")) {
          for (const subschema of this.schemas[schema]["allOf"]) {
            if (!this.schemas[schema]["allOf"].hasOwnProperty("$ref")) {
              properties = subschema.properties;
            }
          }
        }

        Object.entries(properties).forEach(([propName, propValues]) => {
          let datatypes = this.schemas[schema].datatype;
          let datatypesStr = Object.is(datatypes, undefined)
            ? ""
            : datatypes.join(", ");
          autocompleteOptions.push({
            name: propName,
            description: propValues.description,
            type: propValues.type,
            datatypes: datatypes,
            subtitle: `${org} - ${datatypesStr}`,
            rawSchemaPath: schema,
            fullSchemaPath: this.schemas[schema]["$id"]
          });
        });
        autocompleteOptions.push({ divider: true });
      }
      return autocompleteOptions;
    },
    showDrawer: function() {
      return this.showSearchDrawer;
    }
  },
  mounted() {
    function addOrAppendSchemaPath(array, key, newValue) {
      let preUrl = "https://schemas.geodatahub.dk/";
      let postUrl = ".json";
      if (array.hasOwnProperty(key)) {
        array[key].push(preUrl + newValue + postUrl);
      } else {
        array[key] = [preUrl + newValue + postUrl];
      }
    }
    schemaClient.call
      .getSchemas()
      .then(data => {
        Object.entries(data).forEach(([key, value]) => {
          value.datatype.forEach(dtype => {
            // Create a map with the datatype as key and the schemas
            // with that datatype as values
            addOrAppendSchemaPath(this.datatype_mapping, dtype, key);
            //this.datatype_mapping[dtype] = key
          });

          // Store all the organization names
          // The names are stored as org/name/type/schema-name
          // Element 1 is therefore the organization name
          let org = key.split("/")[1];
          if (org) {
            this.all_organizations.push(org.toUpperCase());
            addOrAppendSchemaPath(this.organization_mapping, org, key);
          }
        });
        this.all_datatypes = Object.keys(this.datatype_mapping);
        this.schemas = data;
      })
      .catch(err => {
        this.$store.commit("SET_USER_MESSAGE", {
          msg: `Unable to access schema repository with error ${err}. Please contact support@geodatahub.dk.`,
          level: "error"
        });
      });

    // Add listeners for if the user clicks the filter icon in the dataset component
    this.$root.$on("addDatasetParamToSearch", data => {
      this.addSchemaSearchOptionByName(data);
    });
  }
};
</script>

<style></style>
