<template>
  <v-row no-gutters class="fill-height pa-0 ma-0" style="flex-wrap: no-wrap">
    <v-col class="flex-grow-0 flex-shrink-1" cols="8">
      <SearchDrawer
        v-on:updateEditMode="setEditMode"
        :searchGeometry.sync="searchGeometry"
        :showSearchDrawer.sync="showSearchDrawer"
        v-on:toggleSearchDrawer="toggleSearchDrawer"
      />
      <DeckMap
        v-on:updateEditMode="setEditMode"
        :editMode="editMode"
        :searchGeometry.sync="searchGeometry"
        v-on:toggleSearchDrawer="toggleSearchDrawer"
      />
    </v-col>

    <v-col class="flex-grow-1 flex-shrink-0 pa-2" :cols="datasetWidth">
      <Dataset />
    </v-col>
  </v-row>
</template>

<script>
import DeckMap from "../views/DeckMap";
import SearchDrawer from "../components/SearchDrawer";
import Dataset from "../views/Dataset";

export default {
  name: "Search",
  components: {
    DeckMap,
    SearchDrawer,
    Dataset
  },
  data() {
    return {
      editMode: "ViewMode",
      searchGeometry: {
        type: "FeatureCollection",
        features: []
      },
      showSearchDrawer: false
    };
  },
  methods: {
    setEditMode: function(newMode) {
      this.editMode = newMode;

      if (newMode != "ViewMode" && this.showSearchDrawer) {
        // Close draw draw when switching to draw mode if open. Don't
        // close the drawer if the user switched to draw mode from the
        // speed dial
        this.toggleSearchDrawer();
      } else if (newMode == "ViewMode") {
        // Switching to ViewMode indicates the user has finished
        // drawing the search polygon. In that case show the search
        // drawer to provide additional search criteria.
        this.toggleSearchDrawer();
      }

      if (newMode != "ViewMode") {
        this.$store.commit("SET_USER_MESSAGE", {
          msg: "Click to add a polygon edge. Double click on the last point.",
          level: "info"
        });
      }
    },
    toggleSearchDrawer: function() {
      this.showSearchDrawer = !this.showSearchDrawer;
    }
  },

  computed: {
    datasetWidth() {
      // Make the metadata view fill the entire screen
      // on mobile devices.
      if (this.$vuetify.breakpoint.mobile) {
        return 12;
      } else {
        return 4;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
