<template>
  <v-app>
    <v-app-bar app class="grey lighten-5 rounded-b-xl">
      <v-toolbar-title>GeoDataHub Online</v-toolbar-title>
      <v-spacer />
      <LayerMenu />
      <Login />
    </v-app-bar>

    <v-snackbar v-model="showUserMsg" :color="userMsgLevel" timeout="5000">
      <v-alert :type="userMsgLevel" dense>
        {{ notifyUserMsg }}
      </v-alert>
    </v-snackbar>

    <v-main>
      <v-progress-linear
        :active="showProgressBar"
        indeterminate
        color="orange darken-2"
        height="8px"
      ></v-progress-linear>

      <v-container fluid style="padding:0px;">
        <Search />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Search from "./components/Search";
import Login from "./views/Login";
import LayerMenu from "./views/LayerMenu";
import gdhClient from "@/services/gdhClient";

export default {
  name: "App",
  components: {
    Login,
    LayerMenu,
    Search
  },
  data() {
    return {
      dataQuery:
        '{"https://schemas.getgeodata.com/organizations/usgs/geophysics/geolog.json":""}'
    };
  },
  mounted() {
    // There is no API communication to begin with
    this.$store.commit("SET_API_COMM_STATE", false);
  },
  methods: {
    ping: function() {
      gdhClient.ping();
    },
    searchDatasets: function() {
      if (!this.$store.state.auth.loggedIn) {
        this.notifyserMsg = "Welcome anonymous user";
        this.userNotify = true;
      } else {
        // Search for dataset given a user query
        var query = this.dataQuery;
        var queryResults;
        gdhClient
          .searchDatasets(query, this.$store.state.auth.user.id_token)
          .then(data => {
            this.$store.dispatch("storeSearch", data);
          });
      }
    }
  },
  computed: {
    notifyUserMsg: function() {
      let payload = this.$store.getters.notifyUserMsg;
      if (payload) {
        return payload.msg;
      } else {
        return null;
      }
    },
    showUserMsg: {
      get: function() {
        return this.$store.state.showUserMsg;
      },
      set: function() {
        // Once the snackbar closes the store is updated
        this.$store.commit("CLOSE_USER_MESSAGE");
      }
    },
    userMsgLevel: function() {
      let payload = this.$store.state.notifyUserMsg;
      if (payload) {
        return payload.level;
      } else {
        return null;
      }
    },
    showProgressBar: function() {
      return this.$store.getters.activeAPIComm;
    }
  }
};
</script>
